li.navbar-content {
    list-style-type: none;
    color: #757575;
    background-color: #F6F6F6;
    width: 300px;
}

li.navbar-content:hover {
    list-style-type: none;
    color: #FFFFFF;
    background-color: #FF8D3F;
    width: 300px;
}
input.query-filter-btn {
    background-color: #339AF0;
    color: #FFFFFF
    
}
input.query-filter-btn:hover {
    background-color: #2c44f3;
    color: #FFFFFF

}
input.query-filter-field:focus {
    background-color: #c8def0;
}
span.current-page-num {
    color: orange;
}

table{
    border-collapse: collapse;
}
table thead th{
    background-color: #056186;
    color: #FFFFFF;
}
table tbody tr:hover{
    cursor: pointer;
    color: #056186;
}

td > span.red-text {
    color: #B22222;
}
td > span.orange-text {
    color: #ff8000;
}
td > span.green-text {
    color: #228b22;
}
td > span.blue-text {
    color: #0066B3;
}
a.query-result-page-select {
    color: #000000;
    border: 1px solid #757575;
}
a.query-result-page-select:hover {
    color: #339AF0;
}

.main-part {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 0px 5px;
}
.cpanel {
    width: 32%;
    display: inline-block;
    background-color: #34495e;
    color: #fff;
    margin-top: 50px;
}
.icon-part i {
    font-size: 30px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: -25px;
    margin-bottom: 10px;
    background-color: #34495e;
}
.icon-part p {
    margin: 0px;
    font-size: 20px;
    padding-bottom: 10px;
}
.card-content-part {
    background-color: #2f4254;
    padding: 5px 0px;
}
.cpanel .card-content-part:hover {
    background-color: #5a5a5a;
    cursor: pointer;
}
.card-content-part a {
    color: #fff;
    text-decoration: none;
}