* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
    display: flex;
    justify-content: flex-start;

}
aside {
    padding: 10px;
    height: 300px;
    width: 200px;
}
article {
    padding: 10px;
    height: 300px;
    flex-basis : 200px;
    flex-shrink: 1;
    flex-grow: 1;
}
h2 {
    font-size: 2rem;
}
header {
    padding: 2em;
    text-align: center;
}
.container {
    max-width: 1200px;
    min-width: 600px;
    width: auto;
}
footer {
    padding: 1em;
}