* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container {
    width: 270px;
    height: 335px;
    background-color: #ddd;
}
.container .item-text {
    margin-top: 20px;
    text-align: center;
}
.item-img > img {
    width: 100%;
    transition-duration: 1s;
}
.container:hover img {
    transform: scale(1.2);
}
.item-img {
    overflow: hidden;
}